@model eudaci.Models.Pandemic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pandemic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recovered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospitalisations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospitalisations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
